@import 'tailwindcss';

@theme {
    --font-display: 'urbanist', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #ff9324;

}

@layer {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #fbfcfb;
    }
}